{% extends 'base.html' %}


{% block content %}
<h1>HOME</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim esse repellat assumenda reprehenderit possimus cum
    accusamus excepturi, laborum, repellendus veritatis minima iusto nostrum obcaecati sit animi quibusdam ipsa. Culpa
    vitae, eos autem porro dolore dolor. Ut, nisi placeat. Repudiandae est iste unde odio officiis fugit atque
    exercitationem velit laboriosam doloribus aliquid debitis, dicta nesciunt deleniti sint! Ipsa officia asperiores
    quae hic voluptate nobis suscipit dolorum totam quasi esse deleniti, id soluta, nisi enim! Vitae assumenda maiores
    eos debitis voluptatem quae fugiat quibusdam laborum explicabo nesciunt officiis reprehenderit nemo molestiae velit
    beatae optio repellendus temporibus, facilis dolorem. Officia voluptate dolorem laudantium!xcepturi, laborum, repellendus veritatis minima iusto nostrum obcaecati sit animi quibusdam ipsa. Culpa
    vitae, eos autem porro dolore dolor. Ut, nisi placeat. Repudiandae est iste unde odio officiis fugit atque
    exercitationem velit laboriosam doloribus aliquid debitis, dicta nesciunt deleniti sint! Ipsa officia asperiores
    quae hic voluptate nobis suscipit dolorum totam quasi esse deleniti, id soluta, nisi enim! Vitae assumenda maiores
    eos debitis voluptatem quae fugiat quibusdam laborum explicabo nesciunt officiis reprehenderit nemo molestiae velit
    beatae optio repellendus temporibus, facilis dolorem. Officia voluptate dolorem laudantium!xcepturi, laborum, repellendus veritatis minima iusto nostrum obcaecati sit animi quibusdam ipsa. Culpa
    vitae, eos autem porro dolore dolor. Ut, nisi placeat. Repudiandae est iste unde odio officiis fugit atque
    exercitationem velit laboriosam doloribus aliquid debitis, dicta nesciunt deleniti sint! Ipsa officia asperiores
    quae hic voluptate nobis suscipit dolorum totam quasi esse deleniti, id soluta, nisi enim! Vitae assumenda maiores
    eos debitis voluptatem quae fugiat quibusdam laborum explicabo nesciunt officiis reprehenderit nemo molestiae velit
    beatae optio repellendus temporibus, facilis dolorem. Officia voluptate dolorem laudantium!</p>
{% endblock %}